{% extends "base.html" %}
{% block content %}

<form action="/inventory/{{plant.id}}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{plant.name}}" required>
  </div>

  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{plant.description}}" required autofocus>
  </div>

  <div>
    <label for="buying_cost">Buying Cost:</label>
    <input type="text" id="buying_cost" name="buying_cost" value="{{plant.buying_cost}}" required autofocus>
  </div>

  <div>
    <label for="selling_price">Selling Price:</label>
    <input type="text" id="selling_price" name="selling_price" value="{{plant.selling_price}}" required autofocus>
  </div>
  <div>
    <label for="manufacturer_id">Manufacturer:</label>
    <input type="text" id="manufacturer_id" name="manufacturer_id" value="{{item.manufacturer_id}}" required autofocus>
  </div>
      {% for manufacturer in manufacturers %}
        <option value="{{ manufacturer.id }}"
          {% if manufacturer.manufacturer.id == manufacturer.id %} selected="selected"{% endif %}>
          {{ manufacturer.name() }}
        </option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Update Plant</button>

</form>

{% endblock %}