{% extends 'base.html' %} {% block content %}
{% for item in inventory %}
<ul>
    <li>
        <p><a href = '/inventory/{{item.id}}'>{{ item.name }}</a>
            <p>{{ item.description }}
            {% if item.stock_quantity == 0 %}
            {{"out of stock"}}
            {% elif item.stock_quantity <= 2 %}
            {{"low stock"}}

            {% endif %}
        </p>
    </li>
</ul>



{% endfor %}
<form action="/inventory/new", method = "get">
    <input type="submit" value="Create new Plant" />
</form>

<!-- <form action="/inventory/edit_plant">
    <input type="submit" value="Edit Existing Plant" />
</form> -->
{% endblock %}