{% extends 'base.html' %} {% block content %}
<div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
  {% for item in inventory %}

  <div class="col">
    <div class="card h-100">
        <h5 class="card-header">
                {{ item.name }} {% if item.stock_quantity == 0 %}
                <span class="badge bg-danger">Out Of Stock</span>
                {% elif item.stock_quantity <= 2 %}
                <span class="badge bg-warning">Low Stock</span>
                {% endif %}
        </h5>
      <div class="card-body">

        <p class="card-text">{{ item.description }}</p>

        <a class="btn btn-primary" href="/inventory/{{item.id}}">View</a>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

<a class="btn btn-primary mt-3" href="/inventory/new">Create New Plant</a>

{% endblock %}
