{% extends 'base.html' %} {% block content %}
<ul class = "details">
{% for item in inventory %}

    <li>
        <p><a href = '/inventory/{{item.id}}'>{{ item.name }}</a>
            <p >Description: {{ item.description }}
            {% if item.stock_quantity == 0 %}
            <p class = "alertStock">Out Of Stock</p>
            {% elif item.stock_quantity <= 2 %}
            <p class = "alertStock">Low Stock</p>

            {% endif %}
        </p>
    </li>

{% endfor %}
</ul>


<a style= "margin-bottom: 100px;"  class="btn btn-primary" href="/inventory/new">Create New Plant</a>


{% endblock %}