{% extends "base.html" %}
{% block content %}


 <form action="/inventory" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"placeholder="Name">
    </div>
      
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Description" >
    </div>
      
    <div>
          <label for="buying_cost">Buying Cost:</label>
          <input type="text" id="buying_cost" name="buying_cost" placeholder="Buying Cost">
    </div>
      
    <div>
        <label for="selling_price">Selling Price:</label>
        <input type="text" id="selling_price" name="selling_price" placeholder="Selling Price">
    </div>
    
    
    <div>
    <label for="manufacturer_id">Manufacturer:</label>
    <select id="manufacturer_id" name="manufacturer_id">
        {% for manufacturer in all_manufacturers %}
        <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
        {% endfor %}
    </select>
    </div>
    <div>
        <label for="stock_quantity">Stock Quantity:</label>
        <input type="text" id="stock_quantity" name="stock_quantity"  placeholder="Stock Quantity">
    </div>
    </div>
    <button type="submit">Add Plant</button>

</form>

{% endblock %}
