{% extends "base.html" %} {% block content %}

<div class="card" style="width: 18rem">
  <div class="card-body">
    
  <h5 class="card-title">{{ plant.name }} <span class="badge bg-info">{{ plant.stock_quantity }} in stock</span></h5>
    <a href="/manufacturers/{{plant.manufacturer.id}}">
      
      <h6 class="card-subtitle">{{plant.manufacturer.name}}</h6></a>
    <p class="card-text">{{plant.description}}</p>
    <p class="card-text">Buying cost: {{plant.buying_cost}}</p>
    <p class="card-text">Selling price: {{plant.selling_price}}</p>
    <a class="btn btn-primary" href="/inventory/{{plant.id}}/delete">Delete</a>
    <a class="btn btn-primary" href="/inventory/{{plant.id}}/edit">Edit</a>
  </div>
</div>

{% endblock %}
