<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"type="text/css">
    <title>Plant Inventory</title>
</head>

<body>
    <header class="header">
        <h1><a class = "titleLink" href = "/" >Plant Inventory</a></h1>
    </header>
    <div class = "pageContainer">
        {% block content %} {% endblock %}
    </div>
    

</body>



</html>

